[UNIT]
After=network.taget
[Service]
Type=simple
WorkingDirectory=/home/kombatenok/reddit
User=kombatenok
Group=kombatenok
ExecStart=/usr/local/bin/puma
Restart=always
[Install]
WantedBy=multi-user.taget
