 {
            "project_id": "xdanya",
            "source_image_family": "ubuntu-1804-lts",
            "machine_type": "g1-small",
            "zone": "europe-wes1-b",
            "image_family": "reddit-base",
            "image_description": "packer-image",
            "disk_size": "10",
            "disk_type": "pd-standart",
            "network": "default",
            "tags": "",
            "disk_name": "reddit-disk"
}
